<div id="wrapper">

    <div id="sidebar">
        <div id="widget" class="sticky">
        
            <script>
                function initMap() {
                    
                    <% if @arrItems.length > 0 %>
                        var myLatLng = {lat: <%= @arrItems[0].latitude %>, lng: <%= @arrItems[0].longitude %>};
                        var map = new google.maps.Map(document.getElementById('widget'), {
                        zoom: 11,
                        center: myLatLng
                        });
                    <% else %>
                        var myLatLng = {lat: 40.2573138, lng: -111.7089457};
                        var map = new google.maps.Map(document.getElementById('widget'), {
                        zoom: 11,
                        center: myLatLng
                        });                   
                    <% end %>
                    
                    <% @arrItems.each do |item| %>
                    
                        var marker = new google.maps.Marker({
                            position: {lat: <%= item.latitude %>, lng: <%= item.longitude %>},
                            map: map,
                            animation: google.maps.Animation.DROP
                        });

                    <% end %>
       
                }                                                

            </script>

            <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSOiuUplftL4AwObuc47l-_VW-OGpII6Q&amp;callback=initMap">
            </script>
            
        </div>
    </div>

    <div id="article">
        
        <div class="row">
            
            <div class="col-md-12">
                
                <%= search_form_for @search, url: search_path do |f| %>
                    
                    <div class="row">
                        <h3>Enter your search criteria:</h3><br>
                        <div class="col-md-6">
                            <%= f.text_field :listing_name_cont, placeholder: "Keyword", class: "form-control" %>
                        </div>
                        <div class="col-md-6">
                            <%= text_field_tag :search, params[:search], placeholder: "Address or Location", class: "form-control" %>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="row">
                        <div class="col-md-6 select">
                            <div class="form-group">
                                <label>Category</label>
                                <%= f.collection_select :category_eq, Category.all, :name, :name, include_blank: true, prompt: "Select...", class: "form-control" %>
                            </div>
                        </div>
                        <div class="col-md-6 select">
                            <div class="form-group">
                                <label>Sub-Category</label>
                                <%= f.grouped_collection_select :subcategory_eq,  Category.order(:name), :subcategories, :name, :name, :name, include_blank: true, prompt: "Select...", class: "form-control" %>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-6">
                            <%= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-control" %>
                        </div>
                        <div class="col-md-6">
                            <%= text_field_tag :end_date, params[:start_date], placeholder: "End Date", class: "form-control" %>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <%= f.text_field :price_gteq, placeholder: "Min Price", class: "form-control" %>
                        </div>
                        <div class="col-md-6">
                            <%= f.text_field :price_lteq, placeholder: "Max Price", class: "form-control" %>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-md-2">
                            <%= f.submit "Search", class: "btn btn-primary" %>
                        </div>
                    </div>

                <% end %>

                <hr>

                <div class="row">
                    <% @arrItems.each do |item| %>

                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading preview">
                                    <% if item.photos.count == 0 %>
                                        <%= image_tag "noimage.png", class: "img-responsive" %>
                                    <% else %>
                                        <%= image_tag item.photos[0].image.url(:medium) if item.photos.length > 0 %>
                                    <% end %>
                                </div>
                                <div class="panel-body">
                                    <%= link_to item.listing_name, item_path(item) %>&nbsp;&nbsp;$<%= sprintf('%.2f', item.price) %>/day<br>
                                    <% if defined? item.distance %>
                                        <%= item.distance.round(1) %> miles away <br> 
                                    <% else %>
                                        <%= item.address_city %>, <%= item.address_state %> <br> 
                                    <% end %>
                                    <%= image_tag avatar_url(item.user), class: "img-circle avatar-small" %>&nbsp;
                                    <span id="avg_rating_<%= item.id %>"></span> (<%= item.reviews.count %>)
                                </div>
                            </div>
                        </div>
                    
                        <script>
                            $('#avg_rating_<%= item.id %>').raty({
                                path: '/assets',
                                readOnly: true,
                                score: <%= item.average_rating %>
                            });
                        </script>

                    <% end %>
                </div>
            </div>    
        </div>
        
    </div>
    
</div>

<!-- Date Picker Script -->
<script>
    
	$(function() { 
        
        $('#start_date').datetimepicker({
            format: 'M-D-Y',
            minDate: new Date(),
        });

        $('#end_date').datetimepicker({
            format: 'M-D-Y',
            useCurrent: false
        });
        
        $('#start_date').on('dp.change', function (e) {
            $('#end_date').data('DateTimePicker').minDate(e.date);
        });
        $('#end_date').on('dp.change', function (e) {
            $('#start_date').data('DateTimePicker').maxDate(e.date);
        });
        
	})

</script>

<div class="sticky-stopper"></div>
<script>
$( document ).ready(function() {
    console.log( "document ready!" );

        var $sticky = $('.sticky');
        var $stickyrStopper = $('.sticky-stopper');
        if (!!$sticky.offset()) { // make sure ".sticky" element exists

            var generalSidebarHeight = $sticky.innerHeight();
            var stickyTop = $sticky.offset().top;
            var stickOffset = 0;
            var stickyStopperPosition = $stickyrStopper.offset().top;
            var stopPoint = stickyStopperPosition - generalSidebarHeight - stickOffset;
            var diff = stopPoint + stickOffset;

            $(window).scroll(function(){ // scroll event
                var windowTop = $(window).scrollTop(); // returns number

                if (stopPoint < windowTop) {
                $sticky.css({ position: 'absolute', top: diff });
                } else if (stickyTop < windowTop+stickOffset) {
                $sticky.css({ position: 'fixed', top: stickOffset });
                } else {
                $sticky.css({position: 'absolute', top: 'initial'});
                }
                });
        }
    });
</script>