<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>It's mail time, <%= @message.recipientFullName %>!</h1>
    <p>
      <%= @message.user.fullname %> just sent you a message on Rentagious.com! 
    </p>
    <div class="panel">
        <div class="panel-body">
            <%= image_tag avatar_url(@message.user), class: "img-circle avatar-small" %>
            <strong><%= @message.user.fullname %></strong>

            <span class="pull-right"><%= local_time_ago(@message.created_at) %></span>
            <br>
            <div class="row-space-2">
                <%= @message.content %>
            </div>
        </div>
    </div>
    <p>
      Message:<br>
      <i><%= @message.content %></i>
    </p>
    <p>
      To view the full conversation and reply, follow this link: <%= @url %>
    </p>
    <p>Thanks!<br>
      The Rentagious Team
    </p>
  </body>
</html>